nav {
  position: fixed;
  top: 0;
  height: 80px;
  background-color: #00a087;
  color: #e8fdff;
  width: 100%;
  padding: 0 2em 0 2em;
  right: 0;
  left: 0;
  z-index: 1;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
}

#nav-bar .header {
  padding-left: 10px;
  line-height: 80px;
  font-size: 2em;
}

#nav-bar .links{
  position: absolute;
  top:10px;
  right: 20px;
  align-content: right;
  padding-right: 15px;
}




/*#navbar {
  position: fixed;
  height: 80px;
  background-color: #00a087;
  color: #e8fdff;
  width: 100%;
}*/