.new-tweet {
  background-color: #eee;  /*#eee*/
  padding: .5em 1em 1em 1em;
  border-radius: 5px;
  border: 1px solid black;
  position: relative;
  margin-bottom: 60px;
}

#tweet-form {
  width: 100%;
}

#compose-heading {
  border-bottom: 1px solid black;
  margin-top: 0;
}

#tweet-button {
  align-content:left;
}

.counter {
  position: absolute;
  right: 0;
  align-content: right;
  padding-right: 15px;
}

.overLimit {
  color: red;
}